{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div style="width: 60%; margin: auto;">
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/napa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Napa Extra</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/ace_plus.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/sergel20.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="width: 60%; margin: auto;">
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/napa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Napa Extra</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/ace_plus.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/sergel20.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="width: 60%; margin: auto;">
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/napa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Napa Extra</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/ace_plus.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/sergel20.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="width: 60%; margin: auto;">
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/napa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Napa Extra</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/ace_plus.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/sergel20.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="width: 60%; margin: auto;">
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/napa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Napa Extra</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/ace_plus.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/sergel20.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="width: 60%; margin: auto;">
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/napa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Napa Extra</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/ace_plus.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/sergel20.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="width: 60%; margin: auto;">
<div class="card-group">
    <div class="card">
      <img src="{% static 'img/napa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Napa Extra</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/ace_plus.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'img/sergel20.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Price : 99 TAKA only</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}